body {
    position: relative;
    padding: 50px;
    min-width: 320px;
    min-height: 100vh;
    font-size: $base-fs;
    font-weight: $base-fw;
    font-family: $base-ff;
    background: $mardi-gras;
    color: $bone;
    transition: $base-transition;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

.header {
    &__title {
        font-size: 24px;
        font-weight: 400;
    }
}

.container {
    max-width: 2100px;
    padding: 0 15px;
}

.button {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    background-color: $zest;
    color: $bone;
    border: none;
    cursor: pointer;

    &:hover {
        background: rgba($zest, .95);
    }
}

input[type='color'] {
    appearance: none;
    width: 40px;
    height: 40px;
    border: none;

    &:hover {
        box-shadow: $base-shadow;
    }

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
    }
}

input[type="time"] {
    &::-webkit-calendar-picker-indicator {
        background: transparent;
    }
}

.text-center {
    text-align: center;
}

.fs12 {
    font-size: 12px;
}

.fs16 {
    font-size: 16px;
}

.visibility-hidden {
    visibility: hidden;
}

.display-none {
    display: none;
}

table {
    margin: 20px;
}