
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    font-size: $base-fs;
    font-weight: $base-fw;
    font-family: $base-ff;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.text-align-center {
    text-align: center;
}