@font-face {
    font-family: 'opensans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/openSans/openSans300.eot');
    src: url('../fonts/openSans/openSans300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/openSans/openSans300.woff2') format('woff2'),
         url('../fonts/openSans/openSans300.woff') format('woff'), 
         url('../fonts/openSans/openSans300.ttf') format('truetype'),
         url('../fonts/openSans/openSans300.svg#opensans') format('svg');
}