//colors
$white: #fff;
$black: #000;
$pattens-blue: #dae2ea;
$cobalt: #0e49b5;
$sapphire: #092e74;
$port-gore: #3b3e66;
$gainsboro: #ddd;
$dim-grey: #767272;
$flamingo: #f05454;
$pastel-green: #1bc943;

//fonts
$base-fs: 14px;
$base-fw: 400;
$base-ff: 'roboto';
$ff-icomoon: 'icomoon';

//other
$animation-speed: .5s;