//colors
$white: #fff;
$black: #000;
$solitude: #e2ecf5;
$picton-blue: #6e9ecf;
$regal-blue: #1e3d59;


//fonts
$base-fs: 14px;
$base-fw: 300;
$base-ff: 'opensans';
$base-shadow: 2px 2px 2px rgba($black, .3);
$base-transition: .5s ease;