//colors
$white: #fff;
$bone: #ddc3a5;
$black: #000;
$mardi-gras: #201e20;
$matterhorn: #666;
$zest: #9e5631;


//fonts
$base-fs: 14px;
$base-fw: 300;
$base-ff: 'opensans';
$base-shadow: 2px 2px 2px rgba($bone, .3);
$base-transition: .5s ease;